# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# windows executables
*.exe

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
*.Release
*.Debug
ui_*.h

# Temps
*~
